language: swift
osx_image: beta-xcode7
podfile:  Animations-in-iOS/podfile
before_install:
  - gem update cocoapods

script:
  - pod install --project-directory=Animations-in-iOS
  - xctool -workspace Animations-in-iOS/Animations-in-iOS.xcworkspace -scheme Animations-in-iOS -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
  
