language: objective-c
before_install:
  - gem update cocoapods

script:
  - pod install
  - xctool -workspace Animations-in-iOS/Animations-in-iOS.xcworkspace -scheme Animations-in-iOS -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
  
